@import "../../../../../styles.scss";

@media only screen and (min-width: $mobileS) {
    .card-container{
        width: 70%;
        &--card{
            width: 180px;
            height: 220px;
            font-size: 80%;
        }
        &--img{
            width: 180px;
            height: 220px;
        }
    }
}



@media only screen and (min-width: $tablet) {
    .card-container{
        width: 60%;
        &--card{
            width: 250px;
            height: 320px;
            font-size:100%;
        }
        &--img{
            width: 250px;
            height: 320px;
        }
    }
}


.global{
    width:100%;
}
.card-container{
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    padding: 5%;
    margin:8%;
    margin-left:auto;
    margin-right:auto;
    background: url(/assets/allcard.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow:0px 0px 10px goldenrod,0px 0px 15px goldenrod,0px 0px 20px goldenrod;

&--card{
    object-fit: contain;
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    justify-content: space-around;
    object-fit: contain;
    padding:2%;
    background-color: rgba(245, 245, 245, 0.61);
    border-radius: 15px;
    border: solid 1px goldenrod;
    font-weight: bold;

}
&--img{
    display: flex;
    align-items: center;
    justify-content:center;
    object-fit: contain;
    padding:2%;
    background-color: rgba(245, 245, 245, 0.61);
    border-radius: 15px;
    border: solid 1px goldenrod;
    img{
        height:100%;
    }
}
}