<div class="global-container">
    <div class="divImg">
        <img src="/assets/about.png" alt="humano png magic">
    </div>
    <div class="divP">
        <p>El objetivo de este proyecto es que hagamos una gran comunidad
            de jugadores donde en un futuro podamos compartir nuestros mazos 
            y combos si lo deseamos, y así tener una buena colección que siempre
            lleves en tu bolsillo para poder consultar en cualquier momento y en
            cualquier parte.
        </p>
    </div>
</div>
