@import "../../../../styles.scss";

@media only screen and (min-width: $mobileS) {
    footer{
        height:80px;
    }
    h3{
        font-size:80%;
    }
}

@media only screen and (min-width: $tablet) {
    footer{
        height: 135px;
    }
    h3{
        font-size:100%;
    }
}


footer{
    display: flex;
    align-items:center;
    justify-content:center;
    background: url(/assets/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: 100%;
    bottom:0;
    box-shadow: 0 0 10px white,0 0 15px white,0 0 10px white inset,0 0 15px white inset ;
}

h3{
    object-fit: contain;
    margin-bottom:2%;
    text-shadow: 0px 0px 5px rgb(255, 255, 255),0px 0px 10px rgb(255, 255, 255),0px 0px 15px rgb(255, 255, 255);
    font-weight: bold;
}
